* {
    margin: 0;
    padding: 0;
    box-sizing: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -15rem -25rem, 5rem 3rem;
    background-color: hsl(185, 75%, 39%);
}

section {
    background-color: white;
    border-radius: 1rem;
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

hr {
    color: hsl(0, 0%, 59%);
    border-color: hsl(0, 0%, 59%);
}
.one {
    background-image: url(/images/bg-pattern-card.svg);
    width: 400px;
    height: 150px;
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

.foto {
    border-radius: 50%;
    border: 8px;
    border-style: solid;
    border-color: white;
    position: absolute;
    margin-left: 9rem;
    margin-top: 6rem;
    width: 100px;
}

.name {
    padding-top: 6rem; 
}

.age {
    color: hsl(227, 10%, 46%);
    padding-left: 0.2rem;
}

.city {
    color: hsl(227, 10%, 46%);
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.tree {
    border-radius: 0 0 1rem 1rem;
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: space-between;
}

.number {
    font-size: larger;
    color: hsl(229, 23%, 23%);
}

.type {
    color: hsl(227, 10%, 46%);
    font-size: smaller;
    letter-spacing: 2px;
}
